
$white: #ffffff;
$dark: #3c4043;
$gray:#5f6368;
$primary: #3abfff;
$primary-light: #4774c5;
$header-bg:#00599f;
$link:rgb(0,89,159);
$table-heading:#f18300;
$yellow:#f6f079;
$primary-size: 12px;
$light-gray: #eeeeee;
$primary-space: 16px;
$danger: rgb(255,77,99);
$red:#ff3b3b;
$success: #3D903F;
$primary-dark: #29487F;
$light-theme: #E8F3FD;
$primary-background: #00599f;
$primary-color:#3c4043;
$font:"DM Sans",sans-serif;
$regular:400;
$semi-bold:500;
$bold:600;
$phone: 480px;
$phone-landscape: 576px;
$tablet: 767px;
$laptopview: 991px;
$laptop: 1024px;
$dekstop: 1280px;
$large: 1360px;


$font-sm:14px;